@{
    ViewData["Title"] = "Painel Administrativo";
}

<h1>Painel Admin</h1>

<ul>
    <li><a href="/Admin/Users">Gerenciar usuários</a></li>
    <li><a href="/Admin/Treinos">Visão geral dos treinos</a></li>
    <li><a href="/Admin/Evolucoes">Evoluções dos usuários</a></li>
</ul>
