@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h1>Usuários</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.Id</td>
            </tr>
        }
    </tbody>
</table>
