@model TreinoExercicio

<h2 class="fw-bold mb-4">Editar Exercício do Treino</h2>

<div class="card shadow p-4" style="max-width: 600px;">

    <p class="text-muted mb-3">
        <strong>Exercício:</strong> @Model.Exercicio.NomeExercicio
    </p>

    <form method="post">

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Séries</label>
                <input asp-for="Series" class="form-control" />
            </div>

            <div class="col">
                <label class="form-label">Repetições</label>
                <input asp-for="Repeticoes" class="form-control" />
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Carga (kg)</label>
            <input asp-for="Carga" class="form-control" />
        </div>

        <button class="btn btn-success px-4">Salvar Alterações</button>
        <a asp-controller="Treinos" asp-action="Details" asp-route-id="@Model.TreinoId" class="btn btn-secondary ms-2">
            Cancelar
        </a>

    </form>
</div>
