@model FitTrack.Models.Treino

<h1>Editar Treino</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label>Data</label>
        <input asp-for="Data" type="date" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label>Nome do Treino</label>
        <input asp-for="NomeTreino" class="form-control" />
        <span asp-validation-for="NomeTreino" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</form>
